Data/input_structures/12_p0.smi.gz
Data/input_structures/17_p0.smi.gz
Data/input_structures/clean_fragments_12_p0.smi
Data/input_structures/clean_shards_17_p0.smi
Data/output_structures/macrocycles_from_P-gap-LDT_and_ZINC.sdf
